{% extends 'base.html' %} {% load static %} {% block scripts %}
<link rel="stylesheet" type="text/css" href="{%static 'css/base.css' %}" />

<script
	type="text/javascript"
	src="https://www.gstatic.com/charts/loader.js"
>//loads google charts api</script>

<script
	language="JavaScript"
	type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
>//jquery</script>

<script>
	var data = JSON.parse('{{qs|safe}}');
	//from views.py render(request, index.html, context). Context includes qs. Setting data to qs allows us to use qs in javascript
</script>

<script
	src="https://kit.fontawesome.com/9564b9d43b.js"
	crossorigin="anonymous">//icons 
</script>


{% endblock scripts %} 
{% block body %}
<header class="header">
	<!-- TODO: Change h1 href to actual address --> 
	<h1><a class="blueText" href="http://127.0.0.1:8000/">Zot Rooms</a></h1>
	<p>
		A fully <a class="blueText" href="https://github.com/SaladSaad/UCI-Rooms">open-source</a> application built by
		<span class="redText">Saad Sheikh</a>
	</p>
</header>
<main>
	
	<section role="Filter or Sort Chart Data" id="chartSettings">
		<form action="" method="POST">
			{% csrf_token %}
			{{form.as_p}}
			<input class="chartInput button" id = 'chartInputSubmit' type="submit" value="Apply">
		</form>
		<div id="matchList"></div>
	</section>
	<p class="centered italic">{{error}}</p>
	<div class="chart">
		<section role="classes chart" class="timeline" id="timeline">
			<div id="rows"></div>
			<div id="bars"></div>
		</section>
	</div>
</main>
<footer>
	<div id="footerContent">
		<div id="footerLogo" aria-label="Logo: Open Door"><i class="fa-solid fa-door-open"></i></div>
		
		<p>
			UCI Rooms intends to help students find open classrooms on campus.
		</p>
		
		<ul id="socials">

			<li>
				<a href="#"><i class="fa-brands fa-github button"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa-brands fa-linkedin-in button"></i></a>
			</li>
		</ul>
		<p class="italic">This application was not built in collaboration with and is not owned/managed by UCI.</p>
		
	</div>
</footer>

{% endblock body%}
{% block scriptsBody %}
<script src="{%static 'main.js' %}">//creats timeline chart</script>

{% endblock scriptsBody%}