{% extends 'base.html' %} {% load static %} {% block scripts %}

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>
<script src="{%static 'draw_gantt.js' %}"></script>
<script>
  var data = JSON.parse("{{qs|safe}}");
</script>

{% endblock scripts%} {% block body %}
<div class="container" id="wrapper">
  <h1>UCI Rooms</h1>
</div>
<div class="container">
  <form action="">
    <label for="Location">location</label>
    <input id="Location" type="text" placeholder="🔎" />

    <label for="Quarters">Quarters: </label>
    <select name="Quarters" id="Quarters">
      <option value="QuartersCurrent">Current</option>
      <option value="QuartersPast">Past</option>
    </select>
    <label for="Sort Order">Sort By: </label>
    <select name="Sort Order" id="Sort Order">
      <option value="SortLocation" selected>Location</option>
      <option value="SortTimeUp">Start Time ⬆️</option>
      <option value="SortTimeDown">Start Time ⬇️</option>
    </select>
  </form>
</div>
<div id="example5.3" style="height: auto"></div>

{% endblock body%}
